<div class="main-content">
	<div style="float:left; margin-right:20px"><img src="/assets/granola2.jpg" /></div>
	<div style="float:left">
		<h3 style="margin-top:0">Ingredients placeholder<h3>
		<ul>
			<li>first</li>
			<li>second</li>
			<li>third</li>
		</ul>
	</div>
	<div style="clear:both; padding-top: 20px;">
		<h3>Instructions placeholder</h3>
		<p>Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa.
		</p>
	</div>
	<div style="padding-top: 20px;">
		<h4>Notes placeholder</h4>
		<p>Blah blah blah truc truc truc blah blah truc truc</p>
	</div>


</div>